/*Google Fonts*/

@import url('https://fonts.googleapis.com/css?family=Caudex|Puritan');

* {
    box-sizing: border-box;
}

body {
    background-color: #0E2E45;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Puritan';
    font-weight: normal;
    font-size: 1.1875rem;
}

h1 {
    font-family: 'Caudex';
    text-transform: uppercase;
}

header {
    margin: 30px 0;
}

form {
    margin: 0 auto;
    background-color: #FFFF;
    color: #0E2E45;
    max-width: 500px;
    height: 20rem;
    border-radius: 8px;
    font-size: 24px;
    padding: 20px 0;
}

legend {
    font-size: 36px;
    margin: 20px auto;
    padding: 10px;
}

fieldset {
    border: none;
}

fieldset p {
    margin: 25px auto;
    text-align: left;
}

input {
    border: #0E2E45 1px solid;
}

#flag-shakes-logo {
    display: inline;
    max-width: 200px;
}

fieldset {}
