/*Google Fonts*/

@import url('https://fonts.googleapis.com/css?family=Rock+Salt|Caudex|Puritan');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC');

* {
    box-sizing: border-box;
}

html {
    font-size: 16px;
}

body {
    background-color: #0E2E45;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Puritan';
    font-weight: normal;
    /*    font-size: 1.1875rem;*/
}

h1 {
    font-family: 'IM Fell French Canon SC', serif;
    /* text-transform: uppercase; */
    font-size: 2.2rem;
    margin: 1rem .5rem;

}

h3 {
    font-family: 'Rock Salt';
    font-size: 1.25rem;
    line-height: 1.75rem;
}

header {
    padding: 1px 0;
}

button:hover {
    background-color: aliceblue;
    color: #0E2E45;
    cursor: pointer;
}

.background-div {
    background: #00000047 url(images/globe-theatre.jpg) no-repeat center center;
    background-size: cover;
    background-blend-mode: multiply;
    height: 27vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#signup-home-page {
    width: 100%;
    margin: 0 auto;
    max-width: 1100px;
}

#login-p {
    font-size: 1.3rem;
    text-align: center;
}

#form-text {
    font-size: 1.3rem;
    vertical-align: middle;
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

.form-text-section {
    width: 100%;
}

#form-text p {
    margin: 25px 0 15px;
}

.sign-up-form {
    width: 90%;
    vertical-align: middle;
    font-weight: 600;
    margin: 10% auto 0;
    background-color: #FFFF;
    color: #0E2E45;
    max-width: 500px;
    border-radius: 8px;
    font-size: 1.3rem;
    padding: 20px 0;
}

.sign-up-form legend {
    margin: 10px auto;
    padding: 10px;
    border-bottom: #0E2E45 solid 1px;
    width: 85%;
    font-size: 2rem;
}

.sign-up-form fieldset {
    border: none;
    padding: 0 2rem;
    line-height: 34px;
}

.sign-up-form fieldset p {
    margin: 10px auto 30px;
    text-align: left;

}

.sign-up-form input {
    border: #0E2E45 1px solid;
    width: 100%;
}

.submit-button {
    background-color: #66b8ff;
    padding: 8px 18px;
    border-radius: 8px;
    color: whitesmoke;
    width: 100%;
    /*    margin: 5% 0;*/
}

.bottom-button {
    width: 100%;
    border-top: whitesmoke solid 1px;
    margin: 50px auto 30px;
    max-width: 1000px;
    padding: 50px 0 0;
}

.bottom-button p {
    line-height: 40px;
}

.login-button {
    background-color: #66b8ff;
    padding: 8px 18px;
    border-radius: 8px;
    color: whitesmoke;
    width: 25%;
}

.login-form {
    width: 90%;
    font-weight: 600;
    margin: 40px auto;
    background-color: #FFFF;
    color: #0E2E45;
    max-width: 500px;
    border-radius: 8px;
    font-size: 24px;
    padding: 20px 0;
}

.login-form legend {
    font-size: 36px;
    margin: 10px auto;
    padding: 10px;
    border-bottom: #0E2E45 solid 1px;
    width: 85%;
}

.login-form fieldset {
    border: none;
    padding: 0 2rem;
    line-height: 34px;
}

.login-form fieldset p {
    margin: 10px auto 30px;
    text-align: left;

}

.login-form input {
    border: #0E2E45 1px solid;
    width: 100%;
}

#flag-shakes-logo {
    display: inline-block;
    max-width: 200px;
    vertical-align: middle;
}

footer p {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
}

.navbar {
    width: 100%;
    background: #00000099 url(images/globe-theatre.jpg) no-repeat center center;
    background-size: 100% auto;
    background-blend-mode: multiply;
    padding: 1%;
    font-size: 0;
}

#nav-header {
    padding-left: 1.5%;
    text-align: left;
    width: 51%;
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
}

#nav-list {
    width: 43%;
    padding-right: 1.5%;
    display: inline-block;
    vertical-align: middle;
    font-size: 22px;
}

#nav-list ul {
    list-style-type: none;
    text-align: right;
}

#nav-list li {
    padding: 7px;
}

.user-list {
    width: 95%;
    margin: 2.5%;
    border: 1px whitesmoke solid;
    padding: 2%;
    min-height: 400px;
    min-height: 70vh;
    border-radius: 5px;
}

#nav-list li:hover {
    background-color: whitesmoke;
    color: black;
    cursor: pointer;
    border-radius: 5px;
}

.entry-commands {
    text-align: left;
    /*    width: 15%;*/
    background: rgba(245, 245, 245, .9);
    color: black;
    border-radius: 5px;
    padding: 7px;
    margin: 2.5%;
    /*    display: inline-block;*/
}

.entry-commands ul {
    list-style-type: none;
}

.entry-commands li {
    display: inline-block;
}

#user-dashboard {
    width: 100%;
}

/*/////////////Above this line, mobile styles. Below this line, desktop styles.///////////////*/

/*iPhone portrait*/

@media only screen and (min-width: 320px) {
    body {
        /*        color: purple;*/
    }
}

/*iPhone landscape*/

@media only screen and (min-width: 480px) {
    body {
        color: green;
    }
    html {
        font-size: 18px;
    }
    .navbar {
        padding: 15px auto;
    }
    #nav-header {
        width: 66%;
    }
    #nav-list {
        width: 34%;
    }
    .background-div {
        height: 30vh;
    }
    .sign-up-form {
        margin-top: 15%;
    }
}

/*Android Resolution (Lollipop) 640px*/

@media only screen and (min-width: 640px) {
    html {
        font-size: 22px;
    }
    .background-div {
        height: 33vh;
    }
    .sign-up-form {
        margin-top: 10%;
    }
}

/*ipad potrait*/

@media only screen and (min-width: 768px) {

    body {
        color: red;
    }
    html {
        font-size: 24px;
    }
    #form-text {
        margin: 0 auto 20px;
        /*        font-size: 24px;*/
    }
    .navbar {
        line-height: 65px;
    }
    .navbar ul li {
        display: inline;
    }
    .background-div {
        height: 37vh;
    }
    .sign-up-form legend {
        font-size: 1.5rem;
    }
}

/*ipad lanscape / small laptop*/

@media only screen and (min-width: 1024px) {
    body {
        color: aliceblue;
    }
    h1 {
        font-size: 3rem;
        margin: 2.5rem 1rem;
    }
    h3 {
        font-size: 2.3rem;
        line-height: 3rem;
    }
    .form-text-section {
        margin: .5%;
    }
    #form-text {
        display: inline-block;
        width: 60%;
        text-align: left;
        padding: 0 20px 0 0;
    }
    .sign-up-form {
        display: inline-block;
        width: 39%;
    }
    #nav-header {
        width: 39%;
        font-size: 40px;
    }
    #nav-list {
        width: 60%;
        font-size: 28px;
    }
    #signup-home-page {
        margin-bottom: 50px;
        padding: 0 50px;
    }
    .background-div {
        height: 53vh;
    }
    .sign-up-form {
        margin-top: 0;
    }
    #login-p {
        font-size: 1rem;
        text-align: center;
    }
}
