/*Google Fonts*/

@import url('https://fonts.googleapis.com/css?family=Caudex|Puritan');

* {
    box-sizing: border-box;
}

body {
    background-color: #0E2E45;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Puritan';
    font-weight: normal;
    font-size: 1.1875rem;
}

h1 {
    font-family: 'Caudex';
    text-transform: uppercase;
    font-size: 5rem;
}

header {
    margin: 30px 0;
}

#form-container {
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

#form-text {
    display: inline-block;
    font-size: 40px;
    width: 58%;
    text-align: left;
    padding: 0 20px 0 0;
}

#form-text p {
    margin-top: 25px;
}

h3 {
    font-size: 4rem;
}

form {
    font-weight: 600;
    display: inline-block;
    margin: 0 auto;
    background-color: #FFFF;
    color: #0E2E45;
    width: 30%;
    max-width: 500px;
    border-radius: 8px;
    font-size: 24px;
    padding: 20px 0;
}

legend {
    font-size: 36px;
    margin: 20px auto;
    padding: 10px;
}

fieldset {
    border: none;
    padding: 0 2rem;
}

fieldset p {
    margin: 10px auto 30px;
    text-align: left;
}

input {
    border: #0E2E45 1px solid;
    width: 100%;
}

.submit-button {
    background-color: #66b8ff;
    padding: 8px 18px;
    border-radius: 8px;
    color: whitesmoke;
    width: 100%;
}

#flag-shakes-logo {
    display: inline-block;
    max-width: 200px;
}

footer p {
    display: inline-block;
}
