/*Google Fonts*/

@import url('https://fonts.googleapis.com/css?family=Rock+Salt|Caudex|Puritan');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC');

* {
    box-sizing: border-box;
}

body {
    background-color: #0E2E45;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Puritan';
    font-weight: normal;
    font-size: 1.1875rem;
}

h1 {
    font-family: 'IM Fell French Canon SC', serif;
    /* text-transform: uppercase; */
    font-size: 6rem;
    margin: 3rem;
}

header {
    background: #00000047 url(images/globe-theatre.jpg) no-repeat center center;
    background-size: 100% auto;
    padding: 1px 0;
    background-blend-mode: multiply;
}

#form-container {
    width: 100%;
    max-width: 1000px;
    /*    border-top: whitesmoke 1px solid;*/
    padding: 35px 0 0;
    margin: 0 auto;
}

#form-text {
    display: inline-block;
    font-size: 40px;
    width: 64%;
    text-align: left;
    padding: 0 20px 0 0;
    vertical-align: middle;
}

#form-text p {
    margin-top: 25px;
}

h3 {
    font-family: 'Rock Salt';
    font-size: 3rem;
    line-height: 4.5rem;
}

.sign-up-form {
    vertical-align: middle;
    font-weight: 600;
    display: inline-block;
    margin: 0 auto;
    background-color: #FFFF;
    color: #0E2E45;
    width: 35%;
    max-width: 500px;
    border-radius: 8px;
    font-size: 24px;
    padding: 20px 0;
}

.sign-up-form legend {
    font-size: 36px;
    margin: 10px auto;
    padding: 10px;
    border-bottom: #0E2E45 solid 1px;
    width: 85%;
}

.sign-up-form fieldset {
    border: none;
    padding: 0 2rem;
    line-height: 34px;
}

.sign-up-form fieldset p {
    margin: 10px auto 30px;
    text-align: left;
}

.sign-up-form input {
    border: #0E2E45 1px solid;
    width: 100%;
}

.submit-button {
    background-color: #66b8ff;
    padding: 8px 18px;
    border-radius: 8px;
    color: whitesmoke;
    width: 100%;
}

.bottom-button {
    width: 100%;
    border-top: whitesmoke solid 1px;
    margin: 50px auto 30px;
    max-width: 1000px;
    padding: 50px 0 0;
}

.bottom-button p {
    line-height: 40px;
}

.login-button {
    background-color: #66b8ff;
    padding: 8px 18px;
    border-radius: 8px;
    color: whitesmoke;
    width: 25%;
}

#flag-shakes-logo {
    display: inline-block;
    max-width: 200px;
    vertical-align: middle;
}

footer p {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
}
