/*Google Fonts*/

@import url('https://fonts.googleapis.com/css?family=Rock+Salt|Caudex|Puritan');
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC');

* {
    box-sizing: border-box;
}

body {
    background-color: #0E2E45;
    color: #FFFFFF;
    text-align: center;
    font-family: 'Puritan';
    font-weight: normal;
    font-size: 1.1875rem;
}

h1 {
    font-family: 'IM Fell French Canon SC', serif;
    /* text-transform: uppercase; */
    font-size: 2.9rem;
    margin: 2.5rem .5rem;
}

header {
    padding: 1px 0;
}

.background-div {
    background: #00000047 url(images/globe-theatre.jpg) no-repeat center center;
    background-size: cover;
    background-blend-mode: multiply;
    height: 28vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#form-container {
    width: 100%;
    max-width: 1000px;
    /*    padding: 35px 0 0;*/
    margin: 0 auto;
}

#form-text {
    vertical-align: middle;
    font-size: 24px;
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

#form-text p {
    margin: 25px 0 15px;
}

h3 {
    font-family: 'Rock Salt';
    font-size: 2rem;
    line-height: 3rem;
}

.sign-up-form {
    width: 90%;

    vertical-align: middle;
    font-weight: 600;
    margin: 0 auto;
    background-color: #FFFF;
    color: #0E2E45;
    max-width: 500px;
    border-radius: 8px;
    font-size: 24px;
    padding: 20px 0;
}

.sign-up-form legend {
    font-size: 36px;
    margin: 10px auto;
    padding: 10px;
    border-bottom: #0E2E45 solid 1px;
    width: 85%;
}

.sign-up-form fieldset {
    border: none;
    padding: 0 2rem;
    line-height: 34px;
}

.sign-up-form fieldset p {
    margin: 10px auto 30px;
    text-align: left;

}

.sign-up-form input {
    border: #0E2E45 1px solid;
    width: 100%;
}

.submit-button {
    background-color: #66b8ff;
    padding: 8px 18px;
    border-radius: 8px;
    color: whitesmoke;
    width: 100%;
}

.bottom-button {
    width: 100%;
    border-top: whitesmoke solid 1px;
    margin: 50px auto 30px;
    max-width: 1000px;
    padding: 50px 0 0;
}

.bottom-button p {
    line-height: 40px;
}

.login-button {
    background-color: #66b8ff;
    padding: 8px 18px;
    border-radius: 8px;
    color: whitesmoke;
    width: 25%;
}

.login-form {
    width: 90%;
    font-weight: 600;
    margin: 40px auto;
    background-color: #FFFF;
    color: #0E2E45;
    max-width: 500px;
    border-radius: 8px;
    font-size: 24px;
    padding: 20px 0;
}

.login-form legend {
    font-size: 36px;
    margin: 10px auto;
    padding: 10px;
    border-bottom: #0E2E45 solid 1px;
    width: 85%;
}

.login-form fieldset {
    border: none;
    padding: 0 2rem;
    line-height: 34px;
}

.login-form fieldset p {
    margin: 10px auto 30px;
    text-align: left;

}

.login-form input {
    border: #0E2E45 1px solid;
    width: 100%;
}

#flag-shakes-logo {
    display: inline-block;
    max-width: 200px;
    vertical-align: middle;
}

footer p {
    display: inline-block;
    vertical-align: middle;
    text-transform: uppercase;
}

.navbar {
    width: 100%;
    background: #00000099 url(images/globe-theatre.jpg) no-repeat center center;
    background-size: 100% auto;
    background-blend-mode: multiply;
    line-height: 32px;
    font-size: 0;
}

#nav-header {
    padding-left: 1.5%;
    text-align: left;
    width: 51%;
    display: inline-block;
    vertical-align: top;
    font-size: 32px;
}

#nav-list {
    width: 43%;
    padding-right: 1.5%;
    display: inline-block;
    vertical-align: top;
    font-size: 28px;
}

#nav-list ul {
    list-style-type: none;
    text-align: right;
}

.user-list {
    width: 95%;
    margin: 2.5%;
    border: 1px whitesmoke solid;
    padding: 2%;
    min-height: 400px;
}

/*/////////////Above this line, mobile styles. Below this line, desktop styles.///////////////*/

/*iPhone portrait*/

@media only screen and (min-width: 320px) {
    body {
        /*        color: purple;*/
    }
}

/*iPhone landscape*/

@media only screen and (min-width: 480px) {

    body {
        color: green;
    }
    .navbar {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    #nav-header {
        width: 66%;
        /*        font-size: 40px;*/
    }
    #nav-list {
        width: 34%;
        /*        font-size: 32px;*/
    }
    .background-div {
        height: 35vh;
    }
    h1 {
        font-size: 2.9rem;
        margin: 2.5rem .5rem;
    }
    .sign-up-form {
        margin-top: 10%;
    }
}

/*ipad potrait*/

@media only screen and (min-width: 768px) {

    body {
        color: red;
    }
    h1 {
        font-size: 5rem;
    }
    h3 {
        font-size: 2.8rem;
        line-height: 3.5rem;
    }
    #form-text {
        margin: 0 auto 20px;
    }
    .navbar {
        line-height: 65px;
    }
    #nav-header {
        width: 40%;
        /*        font-size: 40px;*/
    }
    #nav-list {
        width: 60%;
        /*        font-size: 32px;*/
    }
    .navbar ul li {
        display: inline;
    }
    .background-div {
        height: 42vh;
    }
}

/*ipad lanscape / small laptop*/

@media only screen and (min-width: 1024px) {

    body {
        color: aliceblue;
    }
    h1 {
        font-size: 6rem;
    }
    h3 {
        font-size: 3rem;
        line-height: 4.5rem;
    }
    #form-text {
        display: inline-block;
        font-size: 40px;
        width: 64%;
        text-align: left;
        padding: 0 20px 0 0;
    }
    #form-text p {}
    .sign-up-form {
        display: inline-block;
        width: 35%;
    }
    #nav-header {
        /*        width: 39%;*/
        font-size: 40px;
    }
    #nav-list {
        /*        width: 60%;*/
        font-size: 32px;
    }
    #form-container {
        /*        margin: 0 0 -250px;*/
    }
    .background-div {
        height: 50vh;
    }
}
